body, footer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;

}

a{
    text-decoration: none;
}

body{
    background-image: url(img/indexBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Fonts*/
h1, h2{
    font-family: 'Play', sans-serif;
    color:#fff;
}
p, li, a{
    font-family: 'Roboto', sans-serif; 
    color: #E4E7FF;
}
/*----------------------
        NAV/header
------------------------*/
header{
    background-color: #313030;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 25px;
}
.logo{
    float: right;
    margin-right: 10px;
}

#hamburger, #closeNav{
    height: 30px;
    cursor: pointer;
}

#navigation{
    background-color: rgba(109,109,109, 0.6);
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition-duration: 1s;
    height: 100vh;
    
    
}
.navList{
    margin: 10px 0 0 0;
    padding: 0;
    display: block;
}

.navList li a{
    text-decoration: none;
    
}


.navItem{
    font-size: 32px;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
}

#closeNav{
    position: relative;
    left: 75%;
    top: 5px;
    height: 40px;
}

.navItem:hover{
    background-color: rgba(109,109,109, 1);
}


/*Page Indicator*/
#pageIndicator{
    text-align: center;
    width: 100%;
}
.indicator{
    width: 100%;
    max-width: 15px;
}

/*--------------------------
        Next & back btn
---------------------------*/
/*hidden on mobile */
.newContent{
    display: none;
}



/*--------------------------
            GLOBAL
--------------------------*/

#container {
    height: 100vh;
    width: 100%;
}

#content{
    width: 100%;
    max-height: 650px;
    background-color: rgba(109,109,109, 0.5);
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

#content > div.contentHome > h1{
    margin: 0;
}




/* HOME/INDEX */
.contentHome, .contentLearn{
    text-align: center;

}
.imgContentHome{
    max-width: 50px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

/* Rockets/TECH */

.rocketContent{
    display: flex;
    flex-wrap: wrap;
}

.rocketHeading{
    width: 100%;
    flex-direction: row;
}

#rocketImg{
    width: 20%;
    text-align: center;
    
}
#img{
    height: 250px;
}

#rocketData{
    width: 70%;
    margin-left: 10%;

}

.rocket_col{
    margin: 5px 0 0 0;
    flex-direction: column;
    width: 50%;
}
.rocket_row{
    flex-direction: row;
    width: 100%;
}

.title{
    margin: 5px 0 0 0;
    font-weight: bold;
    font-size: 1.3em;
}
#mass, #hight, #stages, #diameter{
    margin-top: 0;
    padding-top: 0;
}

.smaller{
    font-size: 12px;
    font-style: italic;
}

.spaceSuit{
    width: 70%;
    margin-left: 10%;
}

.spaceSuit ul{
    margin: 0 auto;
    padding: 10px 10px 0 20px;
    list-style:square;
}


/* SPACE */

#issContainer{
    display: flex;
    flex-wrap: wrap;
}

#issInfo{
    flex-direction: column;
    width: 30%;
    margin-left: 10px;
}

#issInfo h2{
    margin-top:0;
}
#spaceStream{
    flex-direction: column;
    width: calc(70% - 10px);
}

#spaceStream iframe{
    width: 100%;
    height: 100%;
    
}

#currentCrew{
    flex-direction: row;
    width: 100%;
    margin: 0 0 10px 10px;
}

#currentCrew ul{
    display: inline-block;
    margin-right: 10px;
    list-style: none;
    margin:0 10px 0 0;
    padding: 0;
}

#currentCrew p, #currentCrew h2{
    margin:0 0 .5em 0;
        
}

.spaceImg{
    margin: 0 auto;
    margin-bottom: 5px;
}

.spaceImg img{
    width: 100%;
    max-width: 130px;
    height: 100%;
}

/* MODAL */
#modalImg{
    display: none;
}

.modal{
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#closeModal{
    float: right;
    width: 100%;
    max-width: 50px;
}

#clickedImg{
    width: 100%;
}
#altText{
    text-align: center;
    width: 100%;
}


/* MARS */
#textMars{
    font-weight: bold;
    text-align: left;
    
}
.contentHome h1{
    text-align: center;
}
    
.contentMars{
    margin: 0 auto;
    width: 80%;
}
#marsUl2022, #marsUl2024{
    margin-top: 0;
    padding-left: 1em;
}

#marsText{
    text-align: left;
}

/* Contact Us */
.contactContact{
    text-align: center;
}
#contactForm{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#contactName, #contactEmail, #contactText, #contactBtn{
    width: 100%;
    border-style: none;
    margin-bottom: 5px;
    border-radius: 2.5px;
}

#contactText{
    height: 100px;
}

#contactBtn{
    color: rgba(255,255,255, 0.8);
    background-color: #D73230;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
}

#contactBtn:hover{
    background-color: rgba(255,255,255, 0.8);
    color: #D73230;
}



/* ------------------------------------------------
----------- FOOTER -------------------------
----------------------------------------*/
#footer{
    position: absolute;
    bottom: 0vh;
    height: 30px;
    width: 100%;
    transition-duration: 1s;
    
}
#arrowUp{
    width: 100%;
    max-width: 30px;
    cursor: pointer;
}

#footerReveal{
    text-align: center;
}

#footerCol{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#col_1, #col_3{
    width: 50%;
}
#col_2{
    display: none;
}
.footerContent, .footerContent a{
    text-align: center;
}



.footerContent ul{
    list-style: none;
    padding: 0;
}
#footerIcons{
    flex-direction: row;
    text-align: center;
    width: 100%;
}
#instagram, #youtube, #twitter{
    max-width: 35px;
    margin-left: 10px;
}


#footer:hover{
    background-color: rgba(109,109,109, 0.6);
    position:absolute;
    bottom: 0vh;
    width: 100%;
    height: 25vh;
    transition-duration: 2s;
}

/* DESKTOP STYLES */
@media(min-width:501px){
    p, li, a{
        font-family: 'Roboto', sans-serif; 
        color: #E4E7FF;
        font-size: 24px;
    }
    
    /* BUTTONS */
    .newContent{
        display: block;
    }
    .next, .back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    
    }

    .next{
        right: 5%;
        width: 20px;
    }
    .back{
        left: 5%;
        width: 20px;
    }

    /* MAIN CONTENT DIV */
    #content{
        width: 80%;
        left: 10%;
    } 
    
    .contentHome h1{
        margin: 10px;
    }
    
    .contentHome{
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
    
    /* HOME */
    
    
    /* ROCKET/TECH */
    #rocketData{
        display: flex;
        flex-wrap: wrap;
    }
    
    #rocketData, .spaceSuit{
        margin: 0 auto 0 0;
        width: 40%;
        font-size: 24px;
    }
    
    .spaceSuit{
        margin-bottom: 1em;
    }
    
    #rocketImg{
        width: 20%;
        margin: 0 0 0 auto;
    }
    
    /* SPACE */
    #issContainer{
        width: 80%;
        margin: 0 auto;    
    }
    
    
    #currentCrew, #spaceImg_8{
        padding-bottom: 2%;
    }
    
    .spaceImg{
        width: 25%;
    }
    
    .spaceImg img{
        width: 100%;
        max-width: 300px;
        margin: 5px;
        cursor: pointer;
    }
    
    .modal{
        background-color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        left: 10%;
        
    }
  
    
    /* MARS */
    .contentHome h1{
        text-align: center;
    }
    
    .contentMars{
        margin: 0 auto;
        width: 80%;
        
    }
    #marsUl2022, #marsUl2024{
        margin-top: 0;
        padding-left: 1em;
    }
    
    /* CONTACT */
    #contactName, #contactEmail, #contactText, #contactBtn{
        width: 50%;
        height: 30px;
        border-style: none;
        margin-bottom: 5px;
        border-radius: 2.5px;
    }
    #contactText{
        height: 150px;
    }
    
    /* FOOTER */
    #col_2{
        display:block;
    }
    
    #col_1, #col_2, #col_3{
        width: 33%;
    }
    .footerContent a{
        font-size: 26px;
    }
    #instagram, #youtube, #twitter{
         max-width: 50px;
    }
    
    #footer:hover{
        height: 30vh;
        max-height: 40vh;
    }
    
    .footerList li a:hover{
        color: #FF0000;
    }
}