body, footer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;

}

a{
    text-decoration: none;
}

body{
    background-image: url(img/2012_-_9_crs1_launch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*----------------------
        NAV/header
------------------------*/
header{
    background-color: #313030;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 25px;
}
.logo{
    float: right;
    margin-right: 10px;
    height: 30px;
}

#hamburger, #closeNav{
    height: 30px;
    cursor: pointer;
}

#navigation{
    background-color: rgba(109,109,109, 0.6);
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition-duration: 1s;
    height: 100vh;
    
    
}
.navList{
    color: white;
    margin: 10px 0 0 0;
    padding: 0;
    display: block;
}

.navList li a{
    text-decoration: none;
    color: white;
}


.navItem{
    font-size: 32px;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;

}

#closeNav{
    position: relative;
    left: 80%;
}

.navItem:hover{
    background-color: red;
}

.active{
    color:blue;
}

/*--------------------------
            CONTENT
--------------------------*/

#container {
    height: 100vh;
    width: 100%;
    color: white;
}

#content{
    width: 70%;
    max-height: 300px;
    background-color: rgba(109,109,109, 0.6);
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}

/* HOME/INDEX */
.contentHome{
    text-align: center;
    font-family: 'Play', sans-serif;

}
.imgContentHome{
    max-width: 50px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}




/* ------------------------------------------------
----------- FOOTER -------------------------
----------------------------------------*/
#footer{
    position: absolute;
    bottom: 0vh;
    height: 30px;
    width: 100%;
    transition-duration: 1s;
    
}
#arrowUp{
    width: 100%;
    max-width: 20px;
    cursor: pointer;
}

#footerReveal{
    text-align: center;
}

#footerCol{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

#col_1{
    margin-left: 33%;
}
.footerContent{
    color: white;
    text-align: left;
}

.footerContent ul{
    list-style: none;
}

#footerIcons img{
    margin: 0 auto 0 7%;  
}




#footer:hover{
    background-color: rgba(109,109,109, 0.6);
    position:absolute;
    bottom: 0vh;
    width: 100%;
    height: 17vh;
    transition-duration: 2s;
}

#footer:hover + #footerReveal{
    color: blue;
}
